# Lab 5 - PDS

### Import numpy and pandas

In [1]:
import numpy as np
import pandas as pd

**1:** Load the heart failure mortality prediction dataset.

In [3]:
df = pd.read_csv("./heart_failure_clinical_records_dataset.csv")

**2:** How many variables does our dataset have?

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

**3:** How many records does our dataset have?

In [10]:
df.shape[0]

299

**4:** How many women does our dataset contain? 

*Note: sex = 1 --> man , sex = 0 --> woman.*

In [29]:
df['sex'].value_counts().loc[0]

1365

**5:** How many men does our dataset contain?

In [25]:
df['sex'].value_counts().loc[1]

194

**6:** What is the average age of the individuals that suffer from heart failure?

In [33]:
df['age'].mean()

60.83389297658862

**7:** What is the % of smokers in our dataset?

In [46]:
df['smoking'].value_counts(normalize=True)[1] * 100

32.10702341137124

**8:** What is the percentage of deaths in an event of a heart failure?

In [45]:
df['DEATH_EVENT'].value_counts(normalize=True)[1] * 100

32.10702341137124

**9:** Create a function that receives a dataframe and a column name and adds to the dataframe a new column (called **columnName_binary**) that has the value 1 if the record is above average in that column and 0 otherwise.

In [49]:
def create_new_column(df, column_name):
    column_mean = df[column_name].mean()
    df[column_name + "_binary"] = df[df[column_name] > column_mean]
    
create_new_column(df, 'DEATH_EVENT')[]

ValueError: Cannot set a DataFrame with multiple columns to the single column DEATH_EVENT_binary

**10:** Create a function that receives a dataframe and a column name. The function should create a new column in the dataframe that contains the Z-scored values of that column.

                    Consider that *z = (x – μ) / σ*

**11:** Check by how much the % of females in the dataset changes if we exclude all the cases that have an age above average.

**12:** Check the correlation matrix between the variables of our dataframe.

**12.1** Which variables do you think might be related to the fatality of the heart failure?

**13:** Create a list with the indexes of the deceased cases.

**14:** Create a new DataFrame called **sampled_df** that only contains anemic female individuals.

**15:** How many individuals in the dataset have a high blood pressure **and** smoke?

**16:** Create a new column that contains the value 1 if the time is above average and 0 otherwise.

**17:** Create a function named **df_descriptor** that receives a dataframe and the name of a (binary) column.
This function should print the overview (average, std, median,etc...) of the remaining variables in both values
of the binary variable.

**Additional Question:** Now look at the dataset by yourself. What functions/manipulations can we create/perform?

**18:** load the csv file from the following link: <br>
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv <br>
to a DataFrame called **chipo**.

In [ ]:
import io
import requests

**19:** What is the price of each item? 

Print a data frame with only two columns item_name and item_price.

**20:** Sort **chipo** by the name of the item.

**21:** What was the quantity of the most expensive item ordered?

**22:** How many times was a Veggie Salad Bowl ordered?

**23:** How many times did someone order more than one Canned Soda?